services:
  notifyhub:
    image: docker.io/lamnguyenx/notifyhub:2025.01.06rev01
    build: .
    platform: linux/amd64
    ports:
      - "9080:9080"
    restart: unless-stopped
    command: "python -m notifyhub.backend.backend --port 9080"
