@import '@mantine/core/styles/global.css';
@import '@mantine/core/styles/baseline.css';
@import '@mantine/core/styles/default-css-variables.css';

body {
  background-color: var(--mantine-color-body);
  color: var(--mantine-color-text);
  transition: background-color 0.2s ease, color 0.2s ease;
}