@import '@mantine/core/styles/global.css';
@import '@mantine/core/styles/baseline.css';
@import '@mantine/core/styles/default-css-variables.css';

body {
  background-color: var(--mantine-color-body);
  color: var(--mantine-color-text);
}

.clear-all {
  position: fixed;
  top: 16px;
  right: 16px;
  z-index: 50;
}