
:root {
	/* color variables */
	--labels-primary: #000;

	/* responsive margins / paddings */
	--margin-sm: 16px;
	--margin-md: 32px;
}

html {
	height: 100%;
	font-size: 16px;
}



/* text utility classes */

.subheadline-regular {
	color: var(--labels-primary);
	font-size: 15px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	line-height: 1.333;
	letter-spacing: -0.23px;
}

.subheadline-emphasized {
	color: var(--labels-primary);
	font-size: 15px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 590;
	line-height: 1.333;
	letter-spacing: -0.23px;
}
