.notification {
	position: relative;
	min-height: 66px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	color: #181818;
	font-size: 13px;
	font-family: 'Inter';
	line-height: 1.538;
	letter-spacing: 0px;
}

.notification-row {
	position: absolute; top: 0; left: 0; right: 0;
	min-height: 66px;
	display: flex;
	align-items: flex-start;
	gap: 10px;
	padding: 14px 14px 12px 14px;
}

.notification-bg {
	position: absolute; top: 0; left: 0; right: 0;
	backdrop-filter: blur(75px);
}

.notification-notification {
	height: 66px;
	background-color: #333;
	border-radius: 24px;
}

.notification-app-icon {
	position: relative; z-index: 1;
	margin-top: 1px;
	width: 38px; height: 38px;
	flex-shrink: 0;
	background-color: #fff;
	border-radius: 8.5px;
}

.notification-title-time {
	position: relative; z-index: 2;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.notification-title-and {
	display: flex;
	align-items: flex-start;
	gap: 16px;
	padding-right: 8px;
}

.notification-text1 {
	flex-grow: 1;
	text-align: left;
}

.notification-text-time {
	text-align: right;
}

.notification-text2 {
	text-align: left;
}
