@import "@mantine/core/styles/global.css";
@import "@mantine/core/styles/baseline.css";
@import "@mantine/core/styles/default-css-variables.css";

.notification {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--mantine-spacing-xs);
  color: var(--mantine-color-text);
  font-size: var(--mantine-font-size-sm);
  line-height: var(--mantine-line-height-md);
  letter-spacing: 0px;
  margin-bottom: var(--mantine-spacing-xs);
  will-change: transform, opacity;
  contain: layout style paint;
}

.notification-row {
  position: relative;
  display: flex;
  align-items: flex-start;
  gap: 0;
  padding: var(--mantine-spacing-sm);
  background-color: var(--mantine-color-gray-5);
  border-radius: var(--mantine-radius-lg);
  width: 100%;
  margin: 0;
}



.notification-app-icon {
  position: relative;
  z-index: 1;
  margin-top: 1px;
  width: 2.4rem;
  height: 2.4rem;
  flex-shrink: 0;
  background-color: transparent;
  border-radius: var(--mantine-radius-md);
  color: var(--mantine-color-white);
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: var(--mantine-spacing-xs);
}

.notification-title-time {
  color: var(--mantine-color-gray-7);
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.notification-title-and {
  display: flex;
  align-items: flex-start;
  gap: var(--mantine-spacing-md);
  padding-right: 8px;
}

.notification-text1 {
  flex-grow: 1;
  text-align: left;
}

.notification-text-time {
  text-align: right;
}

.notification-text2 {
  text-align: left;
}

.notification p {
  margin: 0;
}

.notification .subheadline-regular {
  color: var(--mantine-color-gray-7);
  font-size: var(--mantine-font-size-md);
  font-style: normal;
  line-height: var(--mantine-h1-line-height);
  letter-spacing: -0.23px;
  padding-bottom: calc(0.4rem * var(--mantine-scale));
}

.notification .message{
  color: var(--mantine-color-gray-9);
  font-size: var(--mantine-font-size-md);
  font-style: normal;
  line-height: var(--mantine-h1-line-height);
  letter-spacing: -0.23px;
  padding-bottom: calc(0.4rem * var(--mantine-scale));
}

.notification .subheadline-emphasized {
  color: var(--mantine-color-black);
  font-size: var(--mantine-font-size-md);
  font-style: normal;
  font-weight: bold;
  line-height: var(--mantine-h1-line-height);
  letter-spacing: -0.23px;
}

.notification-center-title {
  letter-spacing: -0.02em;
  margin-bottom: 0;
  padding-left: calc(0.3rem * var(--mantine-scale));
  line-height: 2rem;
}

.notification-header .clear-all-button {
  background-color: var(--mantine-color-gray-5);
  color: var(--mantine-color-white);
  padding: 0;
  width: 2rem;
  height: 2rem;
  min-width: 2rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.6;
  cursor: pointer;
  transition: opacity 0.5s ease;
  border: 0;
}

.notification-header .clear-all-button:hover {
  opacity: 1;
}

.notification-header .clear-all-button:disabled {
  display: none;
}

.notification-wrapper {
  width: 95vw;
  max-width: var(--mantine-breakpoint-xs);
}

.notification-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--mantine-spacing-xs);
}
