@import "@measured/puck/puck.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-100 text-black dark:bg-gray-900 dark:text-white;
}

html.dark body {
  background-color: #111 !important;
  color: white !important;
}